body {
    margin: 0 0;
    background: #fff;
}

#header {
    border-top: none;
    background: #888;
    text-color: #eee;
    text-align: right;
}

#footer {
    padding: 0.3em;
    border-bottom: none;
    background: #888;
    text-color: #eee;
    clear: both;
}

#footer a {
    background: #eee;
    padding: 2px;
}

.interface {
    float: left;
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em;
}

.interface h2 {
    margin: 0 0;
}

.pastebox {
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em;
    width: 90%;
}
.pastebody {
    font-family: monospace;
    padding: 0.2em;
    background: #ddd;
}

.alert {
    color: #f00;
}